<div id="app-host-container">
  <a routerLink="/" routerLinkActive="active"> portal</a>
  <a routerLink="/admin" routerLinkActive="active">admin</a>
  <button (click)="gotoDomePage($event)">Admin Dome Page</button>
  <router-outlet></router-outlet>
</div>

